﻿@model WeDoShoesCMSAdminPanel.ViewModel.SearchDefectView

@{
    ViewBag.Title = "Search";
}

<h2>Search Defects</h2>
@section Scripts {
<script type="text/javascript">
    var url = '@Url.Action("SearchDefect", "Defect")';
    $('#btnDisplaySearchResults').click(function () {
        var keyWord = $('#Keyword').val();
        $('#searchResults').load(url, { keyword: keyWord });
    });
    </script>
    }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Keyword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keyword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keyword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnDisplaySearchResults" value="Search" />
            </div>
        </div>
        <div id="searchResults">

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

