﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.BrandsView>

@{
    ViewBag.Title = "Brands";
}

<h2>Brands</h2>

@Html.DropDownList("Category", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @Id = "category-type", style = "float: right;" })

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON('@Url.Action("ListCategoryForFilter","Category")', function (result) {
                var ddl = $('#category-type');
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .text(this.Name)
                        .appendTo(ddl);
                });
            });
        });
        $("#category-type").change(function () {
            var url = '@Url.Action("ListByCategory", "Brands", new { categoryId = "_categoryId" })';
            window.location.href = url.replace("_categoryId", $(this).val());
        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this brand?');" })
                </td>
            </tr>
        }
    }

</table>
