﻿@model WeDoShoesCMSAdminPanel.ViewModel.UserTypeView

@{
    ViewBag.Title = "Add User Type";
}

<h2>Add User Type</h2>

@using (Html.BeginForm("AddUserType", "UserType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $.getJSON('@Url.Action("ListUserNotInAPI", "UserType", new {id = @Model.Id})', function (result) {
                    
                    var ddl = $('#user-type-list');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                });
            });
        </script>
    }
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedUserType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(x => x.SelectedUserType, new MultiSelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "user-type-list" })
                @Html.ValidationMessageFor(model => model.SelectedUserType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add User Type" class="btn btn-default" />
            </div>
        </div>
    </div>
}
