﻿@model WeDoShoesCMSAdminPanel.ViewModel.UserTypeView

@{
    ViewBag.Title = "Delete User Type";
}

<h2>Delete User Type</h2>

<h3>Are you sure you want to delete this?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />            
        </div>
    }
</div>
