﻿@model WeDoShoesCMSAdminPanel.ViewModel.UserTypeView

@{
    ViewBag.Title = "User Type Details";
}

<h2>User Type Details</h2>
@section Scripts {
    <script type="text/javascript">
    var userTypeId = @Model.Id;
    </script>
    <script src="~/Scripts/CustomScript/wedoshoes-api-by-usertype.js"></script>

}
<input type="hidden" id="ajaxUrl" value='@Url.Action("LoadMoreAPIByUserType", "API")' />
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })    
</p>
<div> @{Html.RenderAction("APIByUserType", "API", new { id = Model.Id });} </div>
