﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView

@{
    ViewBag.Title = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section Scripts {
        <script type="text/javascript">
            @*$(function () {
                $.getJSON('@Url.Action("ListCategory", "Category")', function (result) {
                    var ddl = $('#category-type');
                    var id = @Model.CategoryId;
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                    $("#category-type").find("option").each(function () {

                        if ($(this).val() == id) {

                            $(this).prop("selected", "selected");
                        }
                    });
                });*@

            @*$.getJSON('/SizeType/ListSizeType', function (result) {
                    var dd = $('#SizeType');
                    var id = @(Model.SizeType == null ? -1 : Model.SizeType);
                    dd.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(dd);
                    });
                    if(id != -1){
                        $("#SizeType").find("option").each(function () {

                            if ($(this).val() == id) {

                                $(this).prop("selected", "selected");
                            }
                        });
                    }
                });

                $.getJSON('/Brands/ListBrands', function (result) {
                    var ddl = $('#Brands');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
            });
            });*@
        </script>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Brands, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Brands, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "SizeType" })
                    @Html.ValidationMessageFor(model => model.Brands, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SizeTypes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.SizeTypes, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "Brands" })
                    @Html.ValidationMessageFor(model => model.SizeTypes, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
