﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView

@{
    ViewBag.Title = "Add Service";
}

<h2>Product</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>*@
    </dl>
    @*<hr />
        <div id="partialPlaceHolderForService" style="display:none;"> </div>*@
</div>

@using (Html.BeginForm("AddService", "Product", FormMethod.Post, new { request = @Model, id = "form" }))
{
    @Html.AntiForgeryToken()

    @section Scripts {
        <script type="text/javascript">
            $('#service-list').hide();
            $(function () {
                $.getJSON('@Url.Action("SubServiceTypes", "Service")', function (result) {
                    var ddl = $('#SubServiceType');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Type)
                            .text(this.Type)
                            .appendTo(ddl);
                    });
                });

               
            });

            $('#SubServiceType').change(function (e) {
                $('#service-list').hide();
                var selectedValue = $(this).val();
                if (selectedValue != "--Select--") {
                    $('#service-list').show();
                    $.getJSON('@Url.Action("ListOfServicesByType", "Product")?categoryId=' + @Model.CategoryId + "&type=" + selectedValue + "&productId=" + @Model.Id, function (result) {
                        var ddl = $('#ListOfServicesByType');
                        ddl.empty();
                        $(result).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.Id)
                                .text(this.Name)
                                .appendTo(ddl);
                        });
                    })

                    $.get('@Url.Action("PriceForSelectedSizeList", "Product")?categoryId=' + @Model.CategoryId + "&productId=" + @Model.Id + "&type=" + selectedValue, function (data) {

                        /* data is the pure html returned from action method, load it to your page */
                        $('#partialPlaceHolderForSize').html(data);
                        /* little fade in effect */
                        $('#partialPlaceHolderForSize').fadeIn('slow');
                    });
                }
                e.preventDefault();
            });


            $(document).ready(function () {
                $('#Add_Service').click(function () {
                    $("form").removeData('validator');
                    $("form").removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse($("form"));
                });
            });
        </script>
    }
    <div class="form-horizontal">
        <hr />
        <h4>Add New Service</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)
        <div class="form-group">
            @Html.Label("Service Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ServiceView.Type, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "SubServiceType" })
            </div>
        </div>

        <div id="service-list">
            <div class="form-group">
                @Html.LabelFor(model => model.ServiceView, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedServiceId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "ListOfServicesByType" })
                </div>
            </div>
            <hr />
            <div id="partialPlaceHolderForSize" style="display:none;"> </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Service" class="btn btn-default" id="Add_Service" />
                </div>
            </div>
        </div>
    </div>
}
