﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView
<div class="form-horizontal">
    <h4>Added Services</h4>
    <hr />
   @if (Model != null)
   {
       foreach (var item in Model.ListServiceView)
       {
           <dl class="dl-horizontal">
               <dt>
                   @Html.DisplayNameFor(modelItem => item.Name)
               </dt>

               
               <dd>
                   @Html.DisplayFor(modelItem => item.Name)
               </dd>
               <dt>
                   @Html.DisplayNameFor(modelItem => item.Description)
               </dt>

               <dd>
                   @Html.DisplayFor(modelItem => item.Description)
               </dd>      
               



           </dl>
           <table>
               @foreach (var price in item.ListPriceView)
               {
               <tr>
                   <th>
                       @Html.DisplayNameFor(modelItem => price.LabourCost)
                   </th>
                  @if (price.AccessoryView.AccessoryPriceView != null)
                  {

                   <th>
                       @Html.DisplayNameFor(modelItem => price.AccessoryView.AccessoryPriceView.AccessoryCost)
                   </th>
                  }
                  else
                  {
                   <th>
                       @Html.DisplayNameFor(modelItem => price.MaterialCost)
                   </th>
                  }
                   <th>
                       @Html.DisplayNameFor(modelItem => price.Profit) 
                   </th>
                   <th>

                   </th>
               </tr>
               }
               @foreach (var price in item.ListPriceView)
               {

                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => price.LabourCost)
                    </th>
                    @if (price.AccessoryView.AccessoryPriceView != null)
                    {

                        <th>
                            @Html.DisplayFor(modelItem => price.AccessoryView.AccessoryPriceView.AccessoryCost)
                        </th>
                    }
                    else
                    {
                        <th>
                            @Html.DisplayFor(modelItem => price.MaterialCost)
                        </th>
                    }
                    <th>
                        @Html.DisplayFor(modelItem => price.Profit)
                    </th>
                    <th>
                        @Html.ActionLink("Edit", "EditService", "Service", Model, new AllowHtmlAttribute())
                    </th>
                </tr>

               }


           </table>
          
       }





   }
</div>

