﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.NationStateView>

@{
    ViewBag.Title = "Nation States";
}

<h2>Nation States</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
