﻿@model WeDoShoesCMSAdminPanel.ViewModel.AccessoryView

@{
    ViewBag.Title = "Create Accessory";
}

<h2>Create Accessory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $.getJSON('@Url.Action("ListCategory", "Category")', function (result) {
                    var ddl = $('#category-type');
                    var id = @(Model == null ? 0 : Model.CategoryId);
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                    if (id != 0) {
                        $("#category-type").find("option").each(function () {

                            if ($(this).val() == id) {

                                $(this).prop("selected", "selected");
                            }
                        });
                    }
                });

                $.getJSON('@Url.Action("ListSizeType","SizeType")', function (result) {
                    var dd = $('#size-type');
                    dd.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(dd);
                    });
                });
            });
        </script>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "category-type" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessoryPriceView.AccessoryCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccessoryPriceView.AccessoryCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessoryPriceView.AccessoryCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.SizeType, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "size-type" })
                @Html.ValidationMessageFor(model => model.SizeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
