﻿@model WeDoShoesCMSAdminPanel.ViewModel.ServiceView

@{
    ViewBag.Title = "Edit Root Service";
}

<h2>Edit Root Service</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section Scripts {
        <script type="text/javascript">
            @*$(function () {
                @*$.getJSON('/Service/ListServiceType', function (result) {
                    var ddl = $('#ServiceType');
                    var type =  '@Model.Type';
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Type)
                            .text(this.Type)
                            .appendTo(ddl);
                    });
                    $("#ServiceType").find("option").each(function () {

                        if ($(this).val() == type) {

                            $(this).prop("selected", "selected");
                        }
                    });
                });

                $.getJSON('/Category/ListCategory', function (result) {
                    var ddl = $('#CategoryType');
                    var id = @Model.CategoryId;
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                    $("#CategoryType").find("option").each(function () {

                        if ($(this).val() == id) {

                            $(this).prop("selected", "selected");
                        }
                    });
                });
            });*@

        </script>
    }

    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ConvenienceChargesView.IsCurrentPrice)
        @Html.HiddenFor(model => model.CategoryId)        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>        
    </div>
}
