﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.ServiceView>

@{
    ViewBag.Title = "Root Services";
}

<h2>Root Services</h2>

@Html.DropDownList("Category", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @Id = "category-type", style = "float: right;" })

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON('@Url.Action("ListCategory", "Category")', function (result) {
                var ddl = $('#category-type');
                var id = @ViewData["categoryid"];
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .text(this.Name)
                        .appendTo(ddl);
                });
                $("#category-type").find("option").each(function () {

                    if ($(this).val() == id) {

                        $(this).prop("selected", "selected");
                    }
                });
            });
        });
        $("#category-type").change(function () {
            var url = '@Url.Action("ListByCategory", "Service", new { categoryId = "_categoryId" })';
            window.location.href = url.replace("_categoryId", $(this).val());
        });
</script>
}

<p>
    @Html.ActionLink("Create New", "CreateRootService", new { categoryId = ViewData["categoryid"] })
</p><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acronym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>               
                    @Html.ActionLink("Add Service", "CreateService", item, new AllowHtmlAttribute()) |     
                    @Html.ActionLink("Details", "RootServiceDetails", "Service", new { id = item.Id }, new AllowHtmlAttribute())                    
                </td>
            </tr>
        }
    }

</table>
