﻿@model WeDoShoesCMSAdminPanel.ViewModel.ServiceView

@{
    ViewBag.Title = "Root Service Details";
}

<h2>Root Service Details</h2>
@section Scripts {
    <script>
        var serviceId = @(Model.Id);
        var categoryId = @(Model.CategoryId);
    </script>
    <script src="~/Scripts/CustomScript/wedoshoes-service.js"></script>
}
<input type="hidden" id="ajaxUrl" value='@Url.Action("LoadMoreServices", "Service")' />
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.HasChildren)
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            @Html.ActionLink("Edit", "EditRootService", "Service", Model, new AllowHtmlAttribute()) |
            @Html.ActionLink("Delete", "DeleteRootService", "Service", Model, new AllowHtmlAttribute())
        </dd>
        @if (Model.ProcessingTimeView != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProcessingTimeView.NormalProcessingDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProcessingTimeView.NormalProcessingDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProcessingTimeView.ExpressProcessingDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProcessingTimeView.ExpressProcessingDays)
            </dd>
            <dd>
                @Html.ActionLink("Edit", "EditRootServiceProcessingTime", "Service", new { id = Model.Id, Model.ProcessingTimeView }, new AllowHtmlAttribute())
            </dd>
        }

        @if (Model.ConvenienceChargesView != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ConvenienceChargesView.ConvenienceCharge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConvenienceChargesView.ConvenienceCharge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConvenienceChargesView.SingleOrderExpressProcessingCharge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConvenienceChargesView.SingleOrderExpressProcessingCharge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConvenienceChargesView.MultiOrderExpressProcessingChargePerOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConvenienceChargesView.MultiOrderExpressProcessingChargePerOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConvenienceChargesView.PackingCharge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConvenienceChargesView.PackingCharge)
            </dd>

        }
    </dl>
</div>

<div> @{Html.RenderAction("ServicesByRoot", "Service", new { id = Model.Id, categoryId = Model.CategoryId });} </div>
