﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.BrandsView>

<div>
    <h4>Added Brands</h4>
    <hr />

    <div style="display:inline-block">
        
        <dl class="dl-horizontal" style="position:page">
            
            @if (Model != null)
            {
            
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    
                    <div class="form-horizontal" style="display:inline-block;padding-right:inherit ;position:page">
                      
                     
                        <dt>
                            @Html.DisplayFor(modelItem => item.Name)
                        </dt>

                        <dd>
                            @Html.ActionLink("Delete", "RemoveBrand", new { id = item.Id, productId = ViewData["productid"] }, new { onclick = "return confirm('Are you sure you wish to delete this brand?');" })
                        </dd>
                      
                    </div>
                    if (i % 4 == 0)
                    {
                        <br />
                    }
                }
                
            }
           
            @*<dt>
                    @Html.ActionLink("Add Brand", "BrandsNotInProduct", new { productId = ViewData["productid"], categoryId = ViewData["categoryid"] })
                </dt>*@
            </dl>
        <div />
            @*<br/>*@
        </div>

<p>
    @Html.ActionLink("Add Brand", "BrandsNotInProduct", new { productId = ViewData["productid"], categoryId = ViewData["categoryid"] })
</p>

