﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.ServiceView>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.HasChildren == true)
                {
                    @Html.ActionLink("Add Sub Service", "CreateSubService", new { parentId = ViewBag.parentid, categoryId = ViewBag.categoryid, type = item.Type })
                    @Html.DisplayName(" | ")
                }
                @Html.ActionLink("Details", "ServiceDetails", new { id = item.Id })
            </td>
        </tr>
    }
}