﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView
<div class="form-horizontal">
    <h4>Added Services</h4>
    <hr />
    @if (Model != null)
    {
        foreach (var item in Model.ListServiceView)
        {
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(modelItem => item.Name)
                </dt>


                <dd>
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Description)
                </dd>




            </dl>
            
            <table class="table-responsive" style="width:100%">
                @if (item.ListPriceView != null)
                {
                foreach (var price in item.ListPriceView)
                {
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => price.LabourCost)
                        </th>
                        @if (price.AccessoryView.AccessoryPriceView != null)
                        {

                            <th>
                                @Html.DisplayNameFor(modelItem => price.AccessoryView.AccessoryPriceView.AccessoryCost)
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.DisplayNameFor(modelItem => price.MaterialCost)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(modelItem => price.Profit)
                        </th>
                        <th>

                        </th>
                    </tr>
                    
                        break;
                    }
                    foreach (var price in item.ListPriceView)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => price.LabourCost)
                        </td>
                        @if (price.AccessoryView.AccessoryPriceView != null)
                        {

                            <td>
                                @Html.DisplayFor(modelItem => price.AccessoryView.AccessoryPriceView.AccessoryCost)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => price.MaterialCost)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => price.Profit)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditService", "Service", Model, new AllowHtmlAttribute())
                        </td>
                    </tr>
                    

                }
                
                }
            </table>

        }





    }
</div>
