﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.ServiceView>

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "CreateService", new { parentId = ViewData["parentid"], categoryId = ViewData["categoryid"] }, new AllowHtmlAttribute())
</p>

<table class="table" id="ServiceTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Action</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acronym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.HasChildren == true)
                    {
                        @Html.ActionLink("Add Sub Service", "CreateSubService", new { parentId = ViewBag.parentid, categoryId = ViewBag.categoryid, type = item.Type })
                        @Html.DisplayName(" | ")
                    }
                    @Html.ActionLink("Details", "ServiceDetails", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
<p id="loadMore" style="text-align: center;">
    <a class="btn btn-default">
        Load More@*&raquo;*@
        <span>
            <img id="loading" style="display: none;" src="~/Content/Images/ajax-loader.gif" />
        </span>
    </a>
</p>