﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<html>
<head>    
    <title></title>
    <style>        

        .error404 {
            text-align: center;
            position: fixed;
            top: 23%;
            left: 32%;
        }

            .error404 .errorText {
                font-size: 38px;
                margin: 35px 0 10px;              
            }

            .error404 .errorText2 {
                font-size: 24px;
                margin: 20px 0 10px;                
            }

            .error404 .errorText3 {
                font-size: 24px;
                font-weight: 100;
                margin: 60px 0 10px;
            }
    </style>
</head>
<body>
    <div class="error404">
        <div>
            <img src="~/Content/Images/Error.png" />
        </div>
        <div class="errorText">Oops! Something went wrong.</div>
        <div class="errorText2">An unexpected error has occured</div>
        <div class="errorText3"><a href="javascript:void(0);" onclick="history.go(-1);">Go back</a></div> @*Ref: http://stackoverflow.com/questions/18465895/on-html-actionlink-click-go-to-previous-page*@
    </div>
</body>
</html>



