﻿@model WeDoShoesCMSAdminPanel.ViewModel.APIView

@{
    ViewBag.Title = "Add API";
}

<h2>Add API</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $.getJSON('@Url.Action("ListAPINotInUserType", "API", new { id = Model.Id })', function (result) {
                    var ddl = $('#api-list');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                });
            });
        </script>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedAPIIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(x => x.SelectedAPIIds, new MultiSelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "api-list" })
                @Html.ValidationMessageFor(model => model.SelectedAPIIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Api" class="btn btn-default" />
            </div>
        </div>
    </div>
}
