﻿@model WeDoShoesCMSAdminPanel.ViewModel.APIView

@{
    ViewBag.Title = "API Details";
}

<h2>API Details</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Delete", "Delete", Model)
</p>
<div> @{Html.RenderAction("UserTypeByAPI", "UserType", new { id = Model.Id });} </div>
